* {
    box-sizing: border-box;
}
.checkbox {
    width: 30px;
    height: 30px;
    border: 2px solid #ffbe00;
    background-color: #ffffff;
    border-radius: 50%;
}

.checkbox:hover, .additional_item_head:hover  {
    cursor: pointer;
}
.yes {
    display: none;
    position: relative;
    left: 8px;
    top: 8px;
    width: 10px;
    height: 6px;
    border-radius: 1px;
    border-left: 2px solid #ffbe00;
    border-bottom: 2px solid #ffbe00;
    transform: rotate(-45deg);
}
.active-check .yes {
    display: block;
}
.main_cont {
    width: 1170px;
    margin: 0 auto;
}
.kit-information {
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: #F6F6F6;
}
.kit-information__head {
    padding: 8px 10px 7px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kit-information__title, .kit-information__cost {
    display: flex;
}
.kit-information__title {
    font-size: 18px;
}
.kit-information__cost {
    margin-left: 560px;
}
.title-head {
    color: #333333;
    font-size: 18px;
}
.rub {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 600;
    color: #929393;
}
.title-value {
    color: #4087B7;
}
.title-value:hover {
    cursor: pointer;
    text-decoration: underline;
}
.kit-in-cost-head {
    padding-right: 5px;
    padding-top: 5px;
    font-size: 10px;
    color: #929393;
}
.kit-information__list {
    display: none;
    padding: 14px 27px;
    border-top: 3px solid #6B6B6B;
    flex-wrap: wrap;
}
.kit-information__item-image {
    margin-right: 15px;
    border: 2px solid #dddddd;
    width: 88px;
    height: 88px;
    margin-bottom: 12px;
}
.kit-information__item-image img, .kit-item__image img {
    margin: 0 auto;
    display: block;
    max-height: 80px;
}
.kit-information__item {
    position: relative;
}
.kit-information__item:hover .kit-information__item-delete {
    display: block;
}
.kit-information__item-delete {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 17px;
    background: url(img/delete_icon.png) no-repeat center center;
}
.kit-information__item-delete:hover {
    cursor: pointer;
}
.kit-information__add2cart-button {
    line-height: 30px;
    width: 140px;
    border: none;
    outline: none;
    background: #ffbe00;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    text-transform: uppercase;
}
/*Стили блока составляющие комплекта*/
.parts-kit__head {
    background-color: #ffbe00;
    padding: 11px 28px 10px;
    font-size: 12px;
    line-height: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px 2px 0 0;
}
.parts-kit__kit-item {
    position: relative;
    padding: 15px 3%;
    border-bottom: 1px solid #dddddd;
    background: #f9f7f7 none repeat scroll 0 0;
}
.kit-item__image {
    float: left;
    width: 88px;
    height: 88px;
    border: 1px solid #dddddd;
    background: #fff;
    margin-right: 5%;
    margin-left: 60px;
    text-align: center;
    line-height: 88px;
}
.kit-item__more-information {
}
.more-information__name {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    width: 75%;
    color: #666;
}
.more-information__code {
    text-shadow: 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #06589c;
    float: left;
    margin-right: 4%;
}
.kit-item__cost {
    display: table;
    float: right;
    font-size: 16px;
    line-height: 18px;
    color: #ffbe00;
    margin-top: -30px;
    font-weight: 600;
}
.code__name {
    color: #333;
}
.code__value {
    color: #ffbe00;
}
.switch-block{
    position: absolute;
    display: table;
    padding: 10px;
    top: 20px;
}
.parameters-icon {
    width: 20px;
    height: 20px;
    background: url(img/icon.png) no-repeat 0 0;
    float: left;
    margin-right: 10px;
}
.parameters-value {
    text-shadow: 0 0;
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: #06589c;
    margin-right: 4%;
}
/*Стили блока дополнительно*/
.additional {
    border: 1px solid #ff6600;
    background-color: #F2F7FA;
}
.additional_item {
    margin: 10px;
}
.additional_head {
    padding: 11px 28px;
    background: #ff6600;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
.additional_item_head {
    padding: 8px 9px 11px 100px;
    background: white;
    position: relative;
    min-width: 300px;
}
.additional_item_head:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 80px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333333;
    transform: rotate(180deg);
}
.additional_item_name {
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
}
.additional .parts-kit__kit-item {
    background-color: white;
    border-bottom: none;
}
.show_all, .hide_all {
    display: none;
    width: 100%;
    background-color: white;
    position: relative;
    top: -4px;
    padding-left: 88px;
    padding-bottom: 10px;
}
.show_all_head, .hide_all_head {
    font-size: 12px;
    line-height: 14px;
    color: #479fe6;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed #479fe6;
    display: table;
}
.show_all_head:hover, .hide_all_head:hover{
    cursor: pointer;
}
.additional_items {
    display: none;
}
.hide-kit {
    display: none;
}
.active {
    display: block;
}
.flex-active {
    display: flex;
}
.additional_open {
    width: 33%;
}
.arrow_active:before {
    transform: rotate(0);
}
.img-responsive{
    max-width: 100%;
    height: auto;
}

/*Стили вкладок*/
.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
    border-top: 1px solid black;
    padding-top: 10px;
}
.tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}
.tabs__caption {
    margin: 0;
    padding: 0;

}
.tabs__item {
    position: relative;
    border: 1px solid black;
    border-bottom: transparent;
    display: inline-block;
    color: #755851;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
}
.tabs__item:hover {
    cursor: pointer;
}
.tabs__item.active::after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: white;
    z-index: 2;
    top: 28px;
    left: 0;
}
.tabs__item.active {
    background-color: white;
}
.content__character {
    display: flex;
}
.content__character--even {
    background-color: #EEEEEE;
}
.content__character--odd {
    background-color: white;
}
.character__name, .character__value {
    font-size: 13px;
    padding: 6px;
}
.character__name {
    font-weight: bold;
    width: 33%;
}
.character__value {
    width: 67%;
}
.delivery-package__package-item {
    width: 100%;
    display: flex;
    padding: 5px 0;
}
.package-item__number {
    color: #98C4D7;
    padding: 5px;
}
.package-information__title {
    display: flex;
    background-color: #F2F6F9;
    padding: 5px 10px;
    justify-content: space-between;
}
.package-item__package-information {
    width: 100%;
}
.package-information__name {
    width: 80%;
}
.package-information__price {
    width: 20%;
    text-align: right;
}
.package-information__kit {
    display: flex;
    padding: 5px 10px;
}
.kit__name {
    padding-right: 10px;
}
.kit__value {
    padding-left: 10px;
}
.delivery-package__info {
    background-color: #CDE4F1;
    width: 100%;
    margin-top: 5px;
    padding: 5px 20px;
}
.delivery-package__change-package {
    display: table;
    margin: 40px auto 0;
}
.change-package__button {
    width: 170px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #44A4CC;
    color: white;
}
.change-package__button:hover {
    cursor: pointer;
}